<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352182340315-gcljvtv8oqjrba5lb3srdjt3tidgi5il.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352182340315-gcljvtv8oqjrba5lb3srdjt3tidgi5il</string>
	<key>API_KEY</key>
	<string>AIzaSyCLFhaprbXhddaom9C5f3-b7rogXfZqzRA</string>
	<key>GCM_SENDER_ID</key>
	<string>352182340315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.batikku</string>
	<key>PROJECT_ID</key>
	<string>batikku-3ecbb</string>
	<key>STORAGE_BUCKET</key>
	<string>batikku-3ecbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352182340315:ios:1fec94c48362bc31e95afe</string>
</dict>
</plist>